/*------------------------------------*\
#FONTS
\*------------------------------------*/



/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-primary-200: #CCE7FF;
    --global-color-dark: #0F3557;
    --global-color-dark-transparent: #0F355799;

    @media (prefers-color-scheme: dark) {
        --global-color-primary-200: #0F3557;
        --global-color-dark: #CCE7FF;
        --global-color-dark-transparent: #CCE7FF99;
    }

    /* opacity */

    /* transitions */
}

.is-night {
    --global-color-primary-200: #0F3557;
    --global-color-dark: #CCE7FF;
    --global-color-dark-transparent: #CCE7FF99;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: Helvetica, arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--global-color-primary-200);
}

body {
    min-height: 100vh;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.3333;
    margin: 0 0 1.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.3333;
    margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 1.5rem;
}

ul,
ol {
    padding-left: 1.5rem;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.3333;
    margin: 0 0 1.5rem;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 1.5rem;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: "Work Sans", sans-serif;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    & .c-app__summary {
        font-size: 28pt;
        line-height: 40pt;
    }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    font-weight: normal;
    font-size: 16pt;

    display: flex;
    align-items: center;
    gap: .5rem;
}

/*
    Component: Sun
    ---
    The sun
*/

.c-sun {
    width: 1.375rem;
    height: 1.375rem;
    fill: var(--global-color-dark);
}

/*
    Component: App
    ---
    Main app wrapper
*/

/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/

.c-horizon__line {
    padding-top: .5rem;
    border-top: 1px solid var(--global-color-dark);
    display: flex;
    justify-content: space-between;
}

.c-horizon__time {
    color: var(--global-color-dark);
}

.c-horizon__sky-wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.c-horizon__sky {
    position: relative;
    height: 100%;
}

.c-sun__container {
    transform: translateY(.6875rem);
}

.c-horizon__sun {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    & .c-sun {
        transform-origin: 50% 50%;
        transform: translateX(-11rem);
    }
}

.c-time-left {
    color: var(--global-color-dark);
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    color: var(--global-color-dark-transparent);
    fill: var(--global-color-dark-transparent);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}